{% extends "header.html" %}

{% block content %}
{% include 'funcionarios/includes/htmlsnippet.html' %}
  <div class="col-lg-10 px-3 enois">
    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
      <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
        </div>
      </div>
      <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
        <div style="position:absolute;width:200%;height:200%;left:0; top:0">
        </div>
      </div>
    </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>

        </div>

        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="549" height="231" style="display: block; width: 549px; height: 231px;"></canvas>

        <h2>Section title</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>Data</th>
                <th>Ordens</th>
                <th>Celular</th>
                <th>Pausa Indevida</th>
                <th>Banco</th>
              </tr>
            </thead>
            <tbody>
              {% for colu in tab %}
              <tr>
                <td>{{colu.data}}</td>
                <td>{{colu.ordens}}</td>
                <td>{{colu.celular}}</td>
                <td>{{colu.pausa_indev}}</td>
                <td>{{colu.banco}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

      </div>

{% endblock %}
